# Device specific configs

# rpm_device is the name of the ported device
%define rpm_device @DEVICE@
# rpm_vendor is used in the rpm space (the vendor doing the port)
%define rpm_vendor @VENDOR@

# Manufacturer and device name to be shown in UI
%define vendor_pretty @VENDOR_PRETTY@
%define device_pretty @DEVICE_PRETTY@

# See ../droid-hal-version/droid-hal-device.inc for similar macros:
%define have_vibrator 1 

%include droid-hal-version/droid-hal-version.inc

